USE [master]
GO
/****** Object:  Database [AttendanceDB]    Script Date: 9/17/2015 2:31:05 AM ******/
CREATE DATABASE [AttendanceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AttendanceDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\AttendanceDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AttendanceDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\AttendanceDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AttendanceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AttendanceDB]
GO
/****** Object:  Table [dbo].[tbl_attendance]    Script Date: 9/17/2015 2:31:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_attendance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[date] [date] NOT NULL,
 CONSTRAINT [PK_tbl_attendance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_stuff]    Script Date: 9/17/2015 2:31:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_stuff](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](max) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
	[fullname] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_stuff] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbl_attendance] ON 

INSERT [dbo].[tbl_attendance] ([Id], [userId], [date]) VALUES (4, 5, CAST(0x703A0B00 AS Date))
INSERT [dbo].[tbl_attendance] ([Id], [userId], [date]) VALUES (5, 6, CAST(0x703A0B00 AS Date))
INSERT [dbo].[tbl_attendance] ([Id], [userId], [date]) VALUES (6, 5, CAST(0x143A0B00 AS Date))
SET IDENTITY_INSERT [dbo].[tbl_attendance] OFF
SET IDENTITY_INSERT [dbo].[tbl_stuff] ON 

INSERT [dbo].[tbl_stuff] ([Id], [username], [password], [fullname]) VALUES (4, N'delowar', N'delowar123', N'Delowar Hosen')
INSERT [dbo].[tbl_stuff] ([Id], [username], [password], [fullname]) VALUES (5, N'omi', N'omi123', N'Khairul Omi')
INSERT [dbo].[tbl_stuff] ([Id], [username], [password], [fullname]) VALUES (6, N'shibly', N'shibly123', N'Musfiqur Shibly')
SET IDENTITY_INSERT [dbo].[tbl_stuff] OFF
USE [master]
GO
